.blurred-background {
  position: absolute!important;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;

  canvas {
    position: absolute;
    height: 100%!important;
    width: 100%!important;
  }
}

.movie-right-info-pane {
  .movie-title {
    text-transform: uppercase;
    color: #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    padding-bottom: 5px;
  }

  .movie-info {
    border-bottom: 1px solid #FFFFFF;
    color: #FFFFFF;
    margin-bottom: 20px;
  }

  .movie-overview {
    color: #FFFFFF;
  }
}