.movie-sidebar {

}

.movie-right-info-pane {
  .movie-title {
    text-transform: uppercase;
    color: #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    padding-bottom: 5px;
  }

  .movie-info {
    border-bottom: 1px solid #FFFFFF;
    color: #FFFFFF;
    margin-bottom: 20px;
  }

  .movie-overview {
    color: #FFFFFF;
  }
}