.loadedContent {
  margin-bottom: 50px;
}

.blurred-background {
  position: absolute!important;
  top: 0;
  right: 0;
  left: 0;
  display: block;

  canvas {
    position: absolute;
    height: 100%!important;
    width: 100%!important;
  }
}

.movie-sidebar {
  text-align: center;

  img.poster {
    margin: 0 auto;
    display: block;
    position: relative;
    padding-bottom: 15px;
  }

  .movie-title {
    text-transform: uppercase;
    color: #FFFFFF;
    padding-bottom: 5px;
    font-family: 'Oswald', sans-serif !important;
  }

  .movie-info {
    color: #FFFFFF;
    margin-bottom: 20px;
    font-size: 16px;

    ul.movie-info-list {
      list-style: none;

      li {
        margin-bottom: 10px;
        text-align: left;

        i {
          margin-right: 10px;
          text-align: center;
          width: 10%;
        }

        a {
          color: #FFFFFF;
          text-decoration: none;

          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
}

.movie-details {
  .backdrop-overlay {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    border: 1px solid #c7c5d5;
    display: block;
    position: relative;
    padding: 20px 0;
  }

  .movie-poster {
    img {
      height: 400px;
    }
  }
}

.movie-right-info-pane {
  color: #FFFFFF;

  .movie-overview {
    h2 {
      text-transform: uppercase;
      font-weight: bold;

      span {
        color: gold;
        float: right;
      }
    }

    .movie-overview-text {
      margin: 10px 0;
    }

    .movie-trailer {
      width: 100%;
      margin: 20px 0;
    }
  }

  .movie-related-movies {
    h3 {
      text-transform: uppercase;
      font-weight: bold;
    }
  }
}
