body {
  background-color: #2c3e50!important;
  font-family: 'Catamaran', sans-serif!important;
  height: 100%;
}

h1 {
  &.heading-failure {
    color: #FFFFFF;
    text-align: center;
  }
}

ul.latest-movies {
  li {
    width: 25%;
    position: relative;
    overflow-y: hidden;
    height: 460px;
    margin-bottom: 10px; 

    p.movie-title {
      margin-top: 10px;
      color: #FFFFFF;
      text-align: center;
      text-transform: uppercase;
      font-weight: bold;
    }

    img {
      &.movie-poster {
        width: 100%;
        display: block;
        height: 414px;
      }
    }
  }
}
